{
  "swagger": "2.0",
  "info": {
    "version": "2013-08-30",
    "title": "volume",
    "description": "Volume provides a block storage device for the instance."
  },
  "host": "api.qingcloud.com",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "basePath": "/iaas",
  "paths": {
    "/DescribeVolumes": {
      "parameters": [
        {
          "$ref": "../parameters.json#/parameters/zone"
        }
      ],
      "get": {
        "tags": [
          "volume"
        ],
        "operationId": "DescribeVolumes",
        "summary": "DescribeVolumes",
        "description": "Describe volumes filtered by condition.",
        "x-description": {
          "zh": "获取一个或多个硬盘"
        },
        "externalDocs": {
          "url": "https://docs.qingcloud.com/api/volume/describe_volumes.html"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "body parameters",
            "x-description": {
              "zh": "body parameters。"
            },
            "schema": {
              "type": "object",
              "properties": {
                "volumes": {
                  "$ref": "#/definitions/volumes"
                },
                "volume_type": {
                  "$ref": "#/definitions/volume_type"
                },
                "status": {
                  "$ref": "#/definitions/status"
                },
                "search_word": {
                  "description": "search keywords, support volume ID, volume name",
                  "x-description": {
                    "zh": "搜索关键词，支持硬盘ID，硬盘名称"
                  },
                  "type": "string"
                },
                "tags": {
                  "$ref": "../definitions.json#/definitions/tags"
                },
                "verbose": {
                  "$ref": "../definitions.json#/definitions/verbose"
                },
                "owner": {
                  "$ref": "../definitions.json#/definitions/owner"
                },
                "offset": {
                  "$ref": "../definitions.json#/definitions/offset"
                },
                "limit": {
                  "$ref": "../definitions.json#/definitions/limit"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "x-description": {
              "zh": "OK"
            },
            "schema": {
              "type": "object",
              "properties": {
                "action": {
                  "$ref": "../definitions.json#/definitions/action"
                },
                "ret_code": {
                  "$ref": "../definitions.json#/definitions/ret_code"
                },
                "total_count": {
                  "description": "total number of volumes based on filter conditions.",
                  "x-description": {
                    "zh": " 根据过滤条件得到的硬盘总数。"
                  },
                  "type": "integer"
                },
                "volume_set": {
                  "$ref": "#/definitions/volume_set"
                }
              }
            }
          }
        },
        "x-example": {
          "$ref": "./example/DescribeVolumes.json"
        }
      }
    },
    "/CreateVolumes": {
      "parameters": [
        {
          "$ref": "../parameters.json#/parameters/zone"
        }
      ],
      "get": {
        "tags": [
          "volume"
        ],
        "operationId": "CreateVolumes",
        "summary": "CreateVolumes",
        "description": "create one or more volumes, and each volume can be loaded into any instance.",
        "x-description": {
          "zh": "创建一块或多块硬盘，每块硬盘都可加载到任意一台主机中。"
        },
        "externalDocs": {
          "url": "https://docs.qingcloud.com/api/volume/create_volumes.html"
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "body parameters",
            "x-description": {
              "zh": "body parameters。"
            },
            "schema": {
              "type": "object",
              "properties": {
                "size": {
                  "description": "the size of each volume. unit is GB.",
                  "x-description": {
                    "zh": "硬盘容量"
                  },
                  "type": "integer",
                  "minimum": 10,
                  "maximum": 5000,
                  "multipleOf": 10
                },
                "volume_name": {
                  "$ref": "#/definitions/volume_name"
                },
                "volume_type": {
                  "$ref": "#/definitions/volume_type"
                },
                "count": {
                  "description": "number of volume.",
                  "x-description": {
                    "zh": "创建硬盘的数量，默认是1；注解: 每块硬盘的容量是相同的。"
                  },
                  "type": "integer",
                  "default": 1
                }
              },
              "required": [
                "size"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "x-description": {
              "zh": "OK"
            },
            "schema": {
              "type": "object",
              "properties": {
                "action": {
                  "$ref": "../definitions.json#/definitions/action"
                },
                "ret_code": {
                  "$ref": "../definitions.json#/definitions/ret_code"
                },
                "job_id": {
                  "$ref": "../definitions.json#/definitions/job_id"
                },
                "volumes": {
                  "$ref": "#/definitions/volumes"
                }
              }
            }
          }
        },
        "x-example": {
          "$ref": "./example/CreateVolumes.json"
        }
      }
    }
  },
  "definitions": {
    "volume_set": {
      "type": "array",
      "description": "volume data set.",
      "x-description": {
        "zh": " 硬盘数据列表。"
      },
      "items": {
        "$ref": "#/definitions/volume"
      }
    },
    "volume": {
      "description": "volume data info",
      "x-description": {
        "zh": "硬盘数据。"
      },
      "type": "object",
      "properties": {
        "volume_id": {
          "description": "硬盘ID",
          "x-description": {
            "zh": "volume id"
          },
          "type": "string"
        },
        "volume_name": {
          "description": "硬盘名称",
          "x-description": {
            "zh": "volume name"
          },
          "type": "string"
        },
        "description": {
          "description": "description of image",
          "x-description": {
            "zh": "硬盘描述"
          },
          "type": "string"
        },
        "size": {
          "description": "volume size, unit is GB",
          "x-description": {
            "zh": "硬盘空间大小，单位为 GB"
          },
          "type": "integer"
        },
        "status": {
          "$ref": "#/definitions/status"
        },
        "transition_status": {
          "description": "volume transition state, valid values are creating, attaching, detaching, suspending, resuming, deleting, recovering.",
          "x-description": {
            "zh": "硬盘过渡状态，有效值为creating, attaching, detaching, suspending, resuming, deleting, recovering。"
          },
          "type": "string",
          "enum": [
            "creating",
            "attaching",
            "detaching",
            "suspending",
            "resuming",
            "deleting",
            "recovering"
          ]
        },
        "instance": {
          "$ref": "#/definitions/instance"
        },
        "instances": {
          "description": " instances information list.",
          "x-description": {
            "zh": "硬盘加载的主机信息列表。"
          },
          "type": "array",
          "items": {
            "$ref": "#/definitions/instance"
          }
        },
        "create_time": {
          "description": "volume creation time, UTC time",
          "x-description": {
            "zh": "硬盘创建时间，为UTC时间"
          },
          "type": "string",
          "format": "date-time"
        },
        "status_time": {
          "description": "the time of the last state change of the volume, UTC time",
          "x-description": {
            "zh": "硬盘最近一次状态变更时间，为UTC时间"
          },
          "type": "string",
          "format": "date-time"
        },
        "volume_type": {
          "$ref": "#/definitions/volume_type"
        },
        "owner": {
          "$ref": "../definitions.json#/definitions/owner"
        },
        "lastest_snapshot_time": {
          "x-scope": "private",
          "description": "lastest snapshot time",
          "x-description": {
            "zh": "该备份链的最近一次备份时间"
          },
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "instance": {
      "description": "instance information loaded on the hard disk.",
      "x-description": {
        "zh": "硬盘加载的主机信息。"
      },
      "type": "object",
      "properties": {
        "instance_id": {
          "description": "主机ID",
          "x-description": {
            "zh": "instance id"
          },
          "type": "string"
        },
        "instance_name": {
          "description": "主机名称",
          "x-description": {
            "zh": "instance name"
          },
          "type": "string"
        },
        "device": {
          "description": "The device name of the volume in the instance",
          "x-description": {
            "zh": "硬盘在主机系统中的设备名"
          },
          "type": "string"
        }
      }
    },
    "status": {
      "description": "volume status, pending, available, in-use, suspended, deleted, ceased",
      "x-description": {
        "zh": "硬盘状态, pending, available, in-use, suspended, deleted, ceased"
      },
      "type": "array",
      "items": {
        "type": "string",
        "enum": [
          "pending",
          "available",
          "in-use",
          "suspended",
          "deleted",
          "ceased"
        ]
      }
    },
    "volumes": {
      "description": "the array of IDs of volumes.",
      "x-description": {
        "zh": " 硬盘ID"
      },
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "volume_name": {
      "description": "volume name.",
      "x-description": {
        "zh": " 硬盘名称"
      },
      "type": "string"
    },
    "volume_type": {
      "description": "0 for high performance volume, 1 for high capacity volume and 3 for ultra high performance volume",
      "x-description": {
        "zh": "硬盘类型: 性能型是 0; 容量型是1; 超高性能型是3"
      },
      "type": "integer",
      "enum": [
        0,
        1,
        2,
        3
      ]
    }
  },
  "parameters": {},
  "responses": {}
}